@charset "UTF-8";
@import url('./basic.css');
@import url('./theme.diwork.css');

/*棕色*/
/*灰色*/
/*橙色*/
/*棕色*/
/*棕色*/
/* 绿色*/
/*公共样式*/
.fp-page::after,
.fp-page-header::after,
.fp-page-content::after,
.fp-page-footer::after,
.fp-row::after,
.fp-form-group::after,
.mobile-booking-container::after,
.fp-unit-purchase::after,
.fp-unit-sale-and-remark::after,
.xuhaoCol::after,
.xmjeTh::after,
.xmdjTh::after {
  content: '';
  clear: both;
  display: block;
}

.fp-row {
  position: relative;
  font-size: 0;
}

.fp-page .shougou {
  position: absolute;
  left: -124px;
  top: 20px;
  color: #ce836c;
  font-size: 30px;
  text-align: center;
}

.fp-row::after {
  content: '';
  clear: both;
  display: block;
}

.fp-fl {
  float: left;
}

.fp-fr {
  float: right;
}

.fp-form-group {
  position: relative;
  font-size: 14px;
}

.fp-form-group .fp-group-addon {
  display: inline-block;
  color: #ff3f2b;
  float: left;
  margin-top: 8px;
  margin-right: 3px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.fp-form-group .fp-group-addon-hide {
  display: inline-block;
  color: #fff;
}

.fp-form-group .fp-group-label {
  color: #666;
  font-size: inherit;
  margin-right: 15px;
  font-weight: normal;
  margin-bottom: 0;
  height: inherit;
  position: relative;
}

.fp-form-group .fp-label-small-margin {
  margin-right: 10px;
}

.fp-form-group .fp-form-control-container {
  display: inline-block;
  position: relative;
  line-height: 26px;
  float: left;
}

.fp-form-group .fp-form-control-container .select2-container--default .select2-selection--single {
  outline: none;
  border: 1px solid rgba(206, 131, 108, 0.5);
  border-radius: 0px;
  height: 28px;
}

.fp-form-group .select2-container--disabled.select2-container--focus .select2-selection--single,
.fp-form-group .select2-container--disabled.select2-container--open .select2-selection--single {
  border: 1px solid rgba(206, 131, 108, 0.5) !important;
  box-shadow: none;
}

.fp-form-group .fp-form-control-container .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 28px;
}

.fp-form-group .fp-form-control-container .tt-menu {
  width: 100%;
  max-width: 240px;
  margin-top: 5px;
  margin-top: 5px\0;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.fp-form-group .fp-form-control-container .tt-menu .tt-suggestion {
  font-size: 14px;
  line-height: 24px;
}

.fp-form-group .fp-form-control-container .tt-menu .tt-suggestion:hover {
  background-color: #ccf0ec;
  color: #333;
}

.fp-form-group .fp-form-control-container .tt-menu .tt-suggestion strong {
  font-weight: normal;
}

.fp-form-group .fp-form-control-container-margin {
  margin-left: 0px;
}

.fp-form-group .fp-form-control {
  border: 1px solid rgba(206, 131, 108, 0.5);
  background-color: #fff;
  color: #666;
  font-size: 14px;
  width: 14.83rem;
  padding: 4px;
  height: 26px;
  line-height: 20px;
}

.fp-form-group .fp-form-control[disabled] {
  background-color: #eee;
}

.fp-form-group .fp-form-control:focus {
  border: 1px solid #ce836c;
  outline: 0;
}

.fp-form-group .fp-form-control-static {
  color: #666;
  font-size: inherit;
  width: 14.83rem;
  height: inherit;
  display: inline-block;
}

.arrowUp::after {
  content: '';
  display: inline-block;
  border: 3px solid transparent;
  border-bottom: 3px solid #00b390;
  position: absolute;
  top: 10px;
  left: 36px;
}

.arrowDown::after {
  content: '';
  display: inline-block;
  border: 3px solid transparent;
  border-top: 3px solid #00b390;
  position: absolute;
  top: 10px;
  left: 36px;
}

span.filler {
  display: inline-block;
  color: transparent;
}

/*含税  开关*/
.fp-tax-switch {
  display: inline-block;
  vertical-align: middle;
}

.fp-tax-switch label .lever {
  margin: -5px 0;
  font-size: 12px;
  color: #fff;
  text-align: left;
  text-indent: 20px;
  width: 50px;
  height: 20px;
  line-height: 20px;
  background-color: #ccc;
  font-weight: normal;
}

.fp-tax-switch label .lever:after {
  width: 12px;
  height: 12px;
  left: 5px;
  top: 3px;
}

.fp-tax-switch label input[type=checkbox]:checked+.lever {
  background-color: #00b390;
  text-align: left;
  text-indent: 8px;
  font-weight: normal;
}

.fp-tax-switch label input[type=checkbox]:checked+.lever:after {
  background-color: #fff;
  left: 35px;
  top: 2.6px;
}

/* 页面样式*/
.fp-page {
  padding: 24px;
  background-color: #fff;
  width: 100%;
  border-radius: 4px;
}

.fp-page .fp-page-header {
  margin: -14px 0 8px 0;
}

.fp-page .fp-page-content {
  border: 1px solid #ce836c;
  position: relative;
}

.fp-page .fp-page-footer {
  margin-top: 6px;
}

.fp-page-header {
  /*end .org-tooltip*/

}

.fp-page-header .fp-form-group {
  display: inline-block;
  float: left;
  margin-right: 50px;
}

.fp-seal-container .fp-form-group-goodList {
  position: absolute;
  right: 20%;
  bottom: 10px;
}

.fp-page-header .fp-form-group-kce {
  text-align: center;
  margin-right: unset;
}

.fp-page-header .fp-form-group-kce .fp-group-label {
  padding-top: 5px;
  padding-left: 25px;
}

.fp-page-header .fp-form-group-kce [type="checkbox"].filled-in:not(:checked)+label:before {
  top: 10px;
}

.fp-page-header .fp-form-group-kce [type="checkbox"].filled-in:not(:checked)+label:after {
  top: 5px;
}

.fp-page-header .fp-form-group-kce [type="checkbox"].filled-in:checked+label:before {
  top: 4px;
}

.fp-page-header .fp-form-group-kce [type="checkbox"].filled-in:checked+label:after {
  top: 5px;
}

.fp-page-header select.fp-form-control {
  height: 30px;
}

.fp-page-header span.org-tooltip {
  left: 81%;
  top: -75%;
  z-index: 100;
  width: 68px;
  color: #666;
  background: #fffac2;
  padding: 0.5rem 1.2rem;
  margin-top: 10px;
  position: absolute;
  z-index: 1;
  border-radius: 0.5rem;
  display: inline-block;
}

.fp-page-header span.org-tooltip::before {
  content: '';
  width: 0;
  height: 0;
  border: 0.6rem solid transparent;
  border-right: 0.6rem solid #fffac2;
  position: absolute;
  left: -1.2rem;
}

.fp-page-header span.valid-error {
  top: 80%;
}

.letter-spacing-middle {
  letter-spacing: 10px;
}

.letter-spacing-small {
  letter-spacing: 3px;
}

span.valid-error {
  top: 80%;
}

.fp-page-content {
  /* end .fp-seal-container*/

}

.fp-page-content .fp-seal-container {
  border: 0;
  border-bottom: 1px solid #ce836c;
  position: relative;
}

.fp-page-content .fp-seal-container .fp-seal {
  width: 255px;
  height: 90px;
  position: relative;
  padding: 10px 0;
  margin: 0 auto;
  margin-bottom: 5px;
}

.fp-page-content .fp-seal-container .fp-QRcode-inv {
  position: absolute;
  top: 15px;
  right: 31%;
  cursor: pointer;
}

.fp-page-content .fp-seal-container .fp-name {
  color: #ce836c;
  font-size: 20px;
  text-align: center;
}

.fp-page-content .fp-seal-container .fp-double-line {
  border: 1px solid #ce836c;
  border-left: 0;
  border-right: 0;
  height: 4px;
  margin: 6px 0;
}

.fp-page-content .fp-seal-container .fp-seal-img {
  position: absolute;
  top: 12px;
  left: 70px;
}

.fp-page-content .fp-seal-container .fp-seal-img img {
  height: 75px;
  opacity: 0.7;
}

.fp-page-content .mobile-booking-container {
  float: left;
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.fp-page-content .mobile-booking-container .mobile-booking {
  float: left;
  cursor: pointer;
  margin: 3px;
  width: 76px;
  height: 26px;
  /* background: url(./assets/icons/phone-default-icon.png);
  background-size: cover;*/
  line-height: 26px;
  transition: .1s all;
  border: 1px solid #00b390;
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
  color: #00b390;
}

.fp-page-content .mobile-booking-container .mobile-booking:hover {
  /*background-image: url(./assets/icons/phone-hover-icon.png);*/
  background-color: #EAFDFB;
}

.fp-page-content .mobile-booking-container .fp-form-group {
  float: left;
  margin-left: 30px;
  margin-top: 3px;
}

.table-td {
  text-align: left;
}

.fp-page-content .fp-custom-remark-container {
  position: absolute;
  right: 15px;
  top: 31px;
  width: 35%;
  /*
      配合 tooltip 插件使用
    */
}

.fp-page-content .fp-custom-remark-container .tooltip {
  width: 70px;
}

.fp-page-content .fp-custom-remark-container .fp-cRemark-bth {
  position: absolute;
  cursor: pointer;
  right: -6px;
  top: -22px;
}

.fp-page-content .fp-custom-remark-container .multiZk {
  position: absolute;
  right: 40px;
  top: -25px;
  line-height: 26px;
  font-size: 12px;
}

.fp-page-content .fp-custom-remark-container .cRemark {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  line-height: inherit;
  text-align: center;
  font-size: 18px;
  color: #00b390;
}

.fp-page-content .fp-custom-remark-container .cRemark:hover {
  color: #00b390;
}

.fp-page-content .fp-custom-remark-container .fp-cRemark-MTY-eye {
  background: url("./assets/MTY-eye-icon.png");
}

.fp-page-content .fp-custom-remark-container .fp-cRemark-MTY-noeye {
  background: url("./assets/MTY-noeye-icon.png");
}

.fp-page-content .fp-custom-remark-container .fp-cRemark-content {
  position: absolute;
  background-color: #fff;
  border: 1px solid #e1dfdf;
  border-radius: 2px;
  box-shadow: 0px 2px 1px #e1dfdf;
  right: 23px;
  top: -24px;
  padding: 8px;
  width: 95%;
  z-index: 99;
}

.fp-page-content .fp-custom-remark-container .fp-cRemark-content h6 {
  padding-left: 3px;
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

.fp-page-content .fp-custom-remark-container .fp-cRemark-content .fp-cRemark-bg {
  position: absolute;
  top: -38px;
  right: 30px;
}

.fp-page-content .fp-custom-remark-container .fp-cRemark-content .fp-cRemark,
.fp-lyid {
  position: relative;
  width: 100%;
  font-size: 12px;
  color: #909090;
  outline: none;
  max-height: 80px;
  resize: none;
  border: 1px solid transparent;
}

.fp-page-content .fp-custom-remark-container .fp-cRemark-content .fp-cRemark::focus {
  border: 1px solid transparent;
}

.fp-page-content .fp-custom-remark-container .fp-cRemark-content .fp-cRemark-num {
  position: absolute;
  top: 90px;
  right: 22px;
  font-size: 10px;
}

.fp-page-content .fp-custom-remark-container .fp-cRemark-content .fp-cRemark-charCount {
  position: relative;
  color: #ce836c;
}

.fp-page-content .fp-custom-remark-container .fp-cRemark-content .fp-cRemark-btns {
  position: relative;
  width: 100%;
  text-align: center;
}

.fp-page-content .fp-custom-remark-container .fp-cRemark-content::after {
  content: '';
  clear: both;
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left: 5px solid #333;
  right: -10px;
  top: 8px;
  opacity: 0.4;
}

.fp-mask {
  /* position: absolute;
  background-color: rgba(255, 255, 255, 0.7); */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.load-wait {
  position: absolute;
  display: inline-block;
  width: 150px;
  height: 48px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.load-label {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  float: left;
  line-height: 48px;
  height: 48px;
}

.load-img {
  position: relative;
  display: table-cell;
}

.fp-NO-container {
  position: absolute;
  right: 8px;
  top: 36px;
  width: 180px;
}

.fp-NO-container .fp-group-label {
  line-height: normal;
  color: #ce836c;
}

.fp-NO-container .fp-form-group .fp-form-control-static {
  width: auto;
  cursor: pointer;
}

.auto-complete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  width: 100%;
  max-width: 340px;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.auto-complete .group-name {
  cursor: default;
}

.auto-complete .complete-row {
  padding: 4px 8px;
}

.auto-complete .complete-item {
  color: #ce836c;
  cursor: pointer;
}

.auto-complete .complete-item:hover {
  background: #e0fef8;
}

.fp-unit-purchase {
  border: 0;
  border-bottom: 1px solid #ce836c;
}

.fp-unit-purchase .fp-group-label {
  width: 100px;
  color: #ce836c;
  line-height: 30px;
  /* height: 40px; */
}

.fp-unit-purchase .fp-group-label span.filler {
  width: 4em;
}

.fp-unit-purchase .fp-form-control {
  color: #666;
  line-height: 17px;
  width: 40rem;
  max-width: 35rem;
}

.fp-unit-purchase .fp-form-control-static {
  color: #666;
  line-height: 22px;
  width: 40rem;
}

.fp-unit-purchase .fp-purchase-title {
  border: 0;
  float: left;
  padding: 15px;
  color: #ce836c;
  font-size: 14px;
}

.fp-unit-purchase .purchaseLess-title {
  padding: 25px 6px;
}

.fp-unit-purchase .purchaseLess-title span {
  display: inline-block;
  width: auto;
}

.fp-unit-purchase .purchaseMore-title {
  padding: 35px 20px;
}

.fp-unit-purchase .purchaseMore-title span {
  display: inline-block;
  width: 14px;
}

.fp-unit-purchase .fp-purchase-content {
  float: left;
  border-left: 1px solid #ce836c;
  padding: 5px 15px;
}

.fp-unit-purchase .purchaseLess input.gmfMc {
  padding-right: 44px;
  vertical-align: inherit !important;
}

.fp-unit-purchase .purchaseLess .customerBtn {
  position: absolute;
  right: 10px;
  top: 3px;
  width: 18px;
  height: 23px;
  border: 0;
  border-radius: 0;
  background-size: 100%;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
  width: 0;
  height: 0;
  left: -9999px;
}

.fp-unit-purchase .purchaseLess .customerBtn+label {
  position: absolute;
  right: 4px;
  top: 4px;
  font-size: 18px;
  cursor: pointer;
  color: #00b390;
}

.fp-unit-purchase .purchaseLess .customerBtn:hover {
  /* background-image: url(./assets/icons/add-customer-hover.png); */
}

.fp-unit-purchase .purchaseLess .fp-form-group {
  display: inline-block;
}

.fp-unit-purchase .purchaseLess .fp-form-control {
  /*margin-top: -15px;*/
}

.fp-unit-purchase .purchaseLess .fp-form-control.nsrsbh {
  margin-left: 0px;
}

.fp-unit-purchase .purchaseLess .purchaseSwitch {
  cursor: pointer;
  width: 34px;
}

.fp-unit-purchase .purchaseLess .arrowDown::after {
  border: 3px solid transparent;
  border-top: 7px solid #ce836c;
  top: 12px;
}

.fp-unit-purchase .purchaseLess .arrowUp::after {
  border: 3px solid transparent;
  border-bottom: 7px solid #ce836c;
  top: 10px;
}

.fp-unit-purchase span.valid-error {
  top: 80%;
}

.gmfMc-typeahead .twitter-typeahead .tt-suggestion {
  font-size: 14px;
  line-height: 12px;
  color: #ce836c;
}

.gmfMc-typeahead .twitter-typeahead .tt-suggestion:hover {
  color: #fff;
  background-color: #00b390;
}

.fp-invoice-order .fp-order-table tbody tr.ebRow td.xmmcCol input.is-focus {
  border: 1px solid #ce836c;
}

/* end .fp-unit-purchase*/
.fp-invoice-order {
  border: 0;
  border-bottom: 0px solid #ce836c;
  /* 折扣行、被折扣  颜色*/
}

.fp-invoice-order .fp-order-table {
  border: 0;
  /* end  thead tr,tbody tr*/
}

.fp-invoice-order .fp-order-table .col-xh {
  width: 0.5%;
}

.fp-invoice-order .fp-order-table thead tr,
.fp-invoice-order .fp-order-table tbody tr {
  border-bottom: 1px solid #ce836c;
}

.fp-invoice-order .fp-order-table thead tr th,
.fp-invoice-order .fp-order-table thead tr td,
.fp-invoice-order .fp-order-table tbody tr th,
.fp-invoice-order .fp-order-table tbody tr td {
  border: 0;
  border-right: 1px solid #ce836c;
  text-align: center;
  padding: 5px 0;
  color: #ce836c;
  font-size: 14px;
  font-weight: normal;
}

.fp-invoice-order .fp-order-table thead tr td,
.fp-invoice-order .fp-order-table tbody tr td {
  padding: 0;
  height: 26px;
  line-height: 26px;
}

.fp-invoice-order .fp-order-table thead tr th:last-child,
.fp-invoice-order .fp-order-table thead tr td:last-child,
.fp-invoice-order .fp-order-table tbody tr th:last-child,
.fp-invoice-order .fp-order-table tbody tr td:last-child {
  border: 0;
}

.fp-invoice-order .fp-order-table tbody tr.ebRow td input,
.fp-invoice-order .fp-order-table tbody tr.ebRow td select {
  border-radius: 2px;
}

.fp-invoice-order .fp-order-table tbody tr.ebRow.tr-selected td {
  background-color: #ccf0ec;
}

.fp-invoice-order .fp-order-table tbody tr.ebRow:hover td {
  background-color: #ccf0ec;
}

.fp-invoice-order .fp-order-table tbody tr.ebRow:hover input,
.fp-invoice-order .fp-order-table tbody tr.ebRow:hover select {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 2px;
}

.fp-invoice-order .fp-order-table tbody tr.ebRow:hover input:focus,
.fp-invoice-order .fp-order-table tbody tr.ebRow:hover select:focus {
  background-color: #fff;
  border: 1px solid #ce836c;
}

.fp-invoice-order .fp-order-table tbody tr.ebRow:hover input[disabled],
.fp-invoice-order .fp-order-table tbody tr.ebRow:hover select[disabled] {
  background-color: #e5f2f9;
  border: 1px solid #e5f2f9;
}

.fp-invoice-order .fp-order-table tbody tr.ebRow:hover input.materialBtn,
.fp-invoice-order .fp-order-table tbody tr.ebRow:hover input[disabled].materialBtn {
  border: 0;
  border-radius: 0;
}

.fp-invoice-order .fp-order-table tbody td span.inputwrap {
  position: relative;
  display: inline-block;
  padding: 3px;
  width: 100%;
}

.fp-invoice-order .fp-order-table tbody td span.inputwrap .tt-menu {
  width: 100%;
  margin-top: 15px;
  margin-top: 10px\0;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.fp-invoice-order .fp-order-table tbody td span.inputwrap .tt-menu .tt-suggestion {
  font-size: 14px;
  line-height: 24px;
  word-break: break-word;
}

.fp-invoice-order .fp-order-table tbody td span.inputwrap .tt-menu .tt-suggestion:hover {
  background-color: #ccf0ec;
  color: #333;
}

.fp-invoice-order .fp-order-table tbody td span.inputwrap .tt-menu .tt-suggestion strong {
  font-weight: normal;
}

.fp-invoice-order .fp-order-table tbody td input,
.fp-invoice-order .fp-order-table tbody td select {
  border: 1px solid transparent;
  color: #666;
  padding: 2px 3px;
  width: 100%;
  height: 36px;
}

.fp-invoice-order .fp-order-table tbody td input[disabled] {
  background-color: transparent;
}

.fp-invoice-order .fp-order-table tbody td input:focus,
.fp-invoice-order .fp-order-table tbody td selected:focus {
  outline: 0;
  border: 1px solid #ce836c;
}

.fp-invoice-order .fp-order-table tbody td span.twitter-typeahead {
  width: 100%;
  height: 100%;
}

.fp-invoice-order .fp-order-table tbody td span.valid-error {
  top: 80%;
}

.fp-invoice-order .fp-order-table th.xmdjTh {
  /*text-align: center;*/
}

.fp-invoice-order .fp-order-table th.xmdjTh .xmdjThTitle {
  margin-right: 5px;
  vertical-align: middle;
}

.fp-invoice-order .fp-order-table th.xmjeTh {
  /*padding-left: 1%;*/
}

.fp-invoice-order .fp-order-table th.xmjeTh .xmjeThTitle {
  margin-right: 5px;
  vertical-align: middle;
}

.fp-invoice-order .fp-order-table td.xuhaoCol .xuhao {
  float: left;
  width: 100%;
  width: 48px;
  position: relative;
  top: 4px;
}

.fp-invoice-order .fp-order-table td.xuhaoCol .rowIcon {
  float: left;
  width: 100%;
  width: 48px;
  position: relative;
  top: 4px;
  display: none;
}

.fp-invoice-order .fp-order-table td.xuhaoCol .rowIcon span {
  cursor: pointer;
  font-size: 14px;
}

.rowAdd {
  color: #00b390;
}

.rowDel {
  color: #ff3f2b;
}

.fp-invoice-order .fp-order-table td.xuhaoCol .rowIcon img {
  width: 20px;
}

.fp-invoice-order .fp-order-table td.xmmcCol .xmmcInput {
  padding-right: 30px;
}

.fp-invoice-order .fp-order-table td.xmmcCol .xmmcRedInput {
  padding-right: inherit;
}

.fp-invoice-order .fp-order-table td.xmmcCol .materialBtn {
  position: absolute;
  float: right;
  top: 12px;
  right: 9px;
  border: 0;
  /* background: url(./assets/icons/tax-type-default.svg) no-repeat; */
  background-size: contain;
  width: 0;
  height: 0;
  opacity: 0;
  left: -9999px;
  z-index: 4;

}

.fp-invoice-order .fp-order-table td.xmmcCol .materialBtn:focus {
  outline: 0;
  border: 0;
}

.fp-invoice-order .fp-order-table td.xmmcCol .materialBtn+label {
  position: absolute;
  right: 8px;
  top: 10px;
  font-size: 18px;
  cursor: pointer;
  color: #00b390;
}

.fp-invoice-order .fp-order-table td.xmslCol .xmsl {
  text-align: right;
}

.fp-invoice-order .fp-order-table td.xmhsdjCol .xmhsdj {
  text-align: right;
}

.fp-invoice-order .fp-order-table td.xmjshjCol .xmjshj {
  text-align: right;
}

.fp-invoice-order .fp-order-table td.xmdjCol .xmdj {
  text-align: right;
}

.fp-invoice-order .fp-order-table td.xmjeCol .xmje {
  text-align: right;
}

.fp-invoice-order .fp-order-table td.seCol .se {
  height: 26px;
  line-height: 26px;
  margin: 0;
  color: #666;
  text-align: right;
  padding: 0px 5px;
}

.fp-invoice-order .fp-order-table td.hjjeCol {
  border-right: 1px solid transparent;
  text-align: right;
  color: #666;
  padding: 0px 5px;
}

.fp-invoice-order .fp-order-table td.hjseCol {
  border-right: 1px solid transparent;
  color: #666;
  text-align: right;
  padding: 0px 5px;
}

.fp-invoice-order .fp-order-table td.jshjColUpper {
  border-right: 1px solid transparent;
  color: #666;
  text-align: left;
  padding-left: 20px;
}

.fp-invoice-order .fp-order-table td.jshjColLowerTitle {
  border-right: 1px solid transparent;
  color: #ce836c;
  text-align: right;
}

.fp-invoice-order .fp-order-table td.jshjColLower {
  color: #666;
  text-align: left;
  padding-left: 20px;
}

.fp-invoice-order .fp-order-table td.zkCol input {
  width: 57%;
  box-shadow: none;
  border: 1px solid transparent;
}

.fp-invoice-order .fp-order-table td.zkCol select {
  display: inline-block;
  width: 45%;
  float: right;
  border-left: 0px;
  margin-left: -1px;
  border: 1px solid transparent;
  margin-left: -4px;
}

.fp-invoice-order .fp-order-table td.zkCol input:focus {
  border: 1px solid #ce836c;
  border-right: 1px solid transparent;
}

.fp-invoice-order .fp-order-table td.zkCol input:focus+select:focus {
  border: 1px solid #ce836c;
  border-left: 1px solid transparent;
}

.fp-invoice-order .fp-order-table tr.discountedTr td input,
.fp-invoice-order .fp-order-table tr.discountedTr td select,
.fp-invoice-order .fp-order-table tr.discountedTr td p {
  color: #ff8000;
}

.fp-invoice-order .fp-order-table tr.discountedTr td select[disabled='disabled']::-ms-value {
  color: #ff8000;
}

.fp-invoice-order .fp-order-table tr.discountedTr td select:disabled::-ms-value {
  color: #ff8000;
}

.fp-invoice-order .fp-order-table tr.discountedTr td.seCol p.se {
  color: #ff8000;
}

.fp-invoice-order .fp-order-table tr td .text {
  color: #666;
}

.fp-invoice-order .fp-order-table tr.discountedTr td .text {
  color: #ff8000;
}

.fp-invoice-order .fp-order-table select[disabled='disabled']::-ms-value {
  color: #666;
}

.fp-invoice-order .fp-order-table select:disabled::-ms-value {
  color: #666;
}

/* end .fp-invoice-order */
.fp-unit-sale-and-remark {
  border: 0;
  position: relative;
}

.fp-unit-sale-and-remark .fp-unit-sale {
  float: left;
  width: 60%;
  border-right: 1px solid #ce836c;
}

.fp-unit-sale-and-remark .fp-unit-sale .fp-sale-title {
  padding: 23px 20px;
  width: 54px;
  color: #ce836c;
  float: left;
}

.fp-unit-sale-and-remark.addHeight .fp-unit-sale .fp-sale-title {
  padding-top: 31px;
}

.fp-unit-sale-and-remark .fp-unit-sale .fp-sale-title span {
  font-size: 14px;
  width: 1.2rem;
  display: inline-block;
}

.fp-unit-sale-and-remark .fp-unit-sale .fp-sale-content {
  float: left;
  border: 0;
  width: 90%;
  border-left: 1px solid #ce836c;
  padding: 5px 10px;
}

.fp-unit-sale-and-remark .fp-unit-sale .fp-sale-content span.filler {
  width: 4em;
}

.fp-unit-sale-and-remark .fp-unit-sale::after {
  content: '';
  display: block;
  clear: both;
}

.fp-unit-sale-and-remark .fp-remark {
  float: left;
  width: 40%;
}

.fp-unit-sale-and-remark .fp-remark .fp-remark-title {
  padding: 23px 0;
  width: 10%;
  color: #ce836c;
  float: left;
  text-align: center;
}

.fp-unit-sale-and-remark.addHeight .fp-remark .fp-remark-title {
  padding-top: 31px;
}

.fp-unit-sale-and-remark .fp-remark .fp-remark-title span {
  font-size: 14px;
  width: 14px;
  display: inline-block;
}

.fp-unit-sale-and-remark .fp-remark .fp-remark-title span.filler {
  color: transparent;
}

.fp-unit-sale-and-remark .fp-remark .fp-remark-content {
  float: left;
  position: relative;
  padding: 0;
  border-left: 1px solid #ce836c;
  height: 106px;
  width: 90%;
}

.fp-unit-sale-and-remark.addHeight .fp-remark .fp-remark-content {
  height: 122px;
}

.fp-unit-sale-and-remark .fp-remark .fp-remark-content .remark {
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  outline: 0;
  color: #666;
  font-size: 14px;
  resize: initial;
}

.fp-unit-sale-and-remark .fp-remark .fp-remark-content .remark:focus {
  border: 1px solid #ce836c;
}

.fp-unit-sale-and-remark .fp-remark::after {
  content: '';
  display: block;
  clear: both;
}


/* 备注错误提示框位置修改*/

.fp-unit-sale-and-remark .fp-remark span.valid-error {
  position: absolute;
  top: 80px;
}

.fp-unit-sale-and-remark {
  /*end .fp-sale-content*/

}

.fp-unit-sale-and-remark .fp-group-label {
  color: #ce836c;
  text-align-last: justify;
  width: 105px;
}

.fp-unit-sale-and-remark .fp-form-control-static {
  color: #666;
  display: inline;
}

.fp-unit-sale-and-remark .fp-sale-content .fp-form-group {
  white-space: nowrap;
  line-height: 24px;
  height: 24px;
}

.fp-unit-sale-and-remark.addHeight .fp-sale-content .fp-form-group {
  line-height: 28px;
  height: 28px;
}

.fp-unit-sale-and-remark.addHeight .fp-sale-content .fp-form-group .valid-error {
  left: 124px;
}

.fp-unit-sale-and-remark .fp-sale-content .fp-form-group .fp-group-addon {
  float: left;
}

.fp-unit-sale-and-remark .fp-sale-content .fp-form-group .fp-group-label {
  float: left;
}

.fp-unit-sale-and-remark .fp-sale-content .fp-form-group .fp-form-control-container {
  width: 70%;
}

.fp-unit-sale-and-remark .fp-sale-content .fp-form-group .fp-form-control-static {
  width: 80%;
  display: inline-block;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.fp-unit-sale-and-remark .fp-sale-content .fp-form-group::after {
  content: '';
  display: block;
  clear: both;
}

/* end ..fp-unit-sale-and-remark*/
.fp-page-footer .fp-form-group {
  float: left;
}

.fp-page-footer .fp-form-group:not (:first-child) {
  margin-left: 3rem;
}

.fp-page-footer .fp-group-label {
  color: #ce836c;
  width: 80px;
  text-align: right;
}

.fp-group-label {
  float: left;
  line-height: 26px;
}

.fp-page-footer .fp-form-control {
  color: #666;
}

.fp-page-footer .fp-form-control-static {
  color: #666;
}

.fp-page-operate {
  margin-top: 10px;
  background-color: #fff;
  width: 100%;
  border-radius: 4px;
}

.fp-page-operate .operation-content {
  background-color: inherit;
}

.fp-page-operate .operation-content .btn-default-warning,
.fp-page-operate .operation-content .btn-default {
  background-color: inherit;
}

.fp-page-operate .operation-content .btn-default-warning:hover {
  color: #fff;
  background-color: #ef7399;
}

.fp-page-operate .operation-content .btn-default:hover {
  color: #fff;
  background-color: #00b390;
}

.fp-page-operate .saveInvoiceBtn {
  background-image: url("./assets/icons/save-Invoice.png");
}

.fp-page-operate .btn-default:hover .saveInvoiceBtn {
  background-image: url("./assets/icons/save-Invoice-hover.png");
}

.specimenImg {
  position: absolute;
  width: 4%;
  left: -4%;
  top: 107px;
}

.fp-btn-disable {
  background-color: #ccc;
  cursor: not-allowed;
}

.fp-btn-disable:hover {
  background-color: #ccc;
}

@media screen and (max-width: 1920px) {
  .fp-page-content .fp-seal-container .fp-QRcode-inv {
    right: 36.5%;
  }
}

@media screen and (max-width: 1600px) {
  .fp-page-content .fp-seal-container .fp-QRcode-inv {
    right: 34%;
  }
}

@media screen and (max-width: 1440px) {
  .fp-page-content .fp-seal-container .fp-QRcode-inv {
    right: 32%;
  }
}

@media screen and (max-width: 1366px) {
  .fp-page-content .fp-seal-container .fp-QRcode-inv {
    right: 31%;
  }

  .fp-unit-sale-and-remark .fp-unit-sale .fp-sale-content {
    width: 88%;
  }

  .fp-unit-sale-and-remark .fp-remark .fp-remark-content {
    width: 90%;
  }
}

@media screen and (max-width: 1024px) {
  .fp-page-content .fp-seal-container .fp-QRcode-inv {
    right: 27%;
  }

  .fp-unit-sale-and-remark .fp-unit-sale .fp-sale-content {
    width: 88%;
  }

  .fp-unit-sale-and-remark .fp-remark .fp-remark-content {
    width: 83%;
  }
}

.fp-unit-purchase .fp-group-label.nsrsbh-info {
  color: #00b390;
  width: auto;
}

.fp-unit-purchase .fp-group-label.nsrsbh-warn {
  color: #edcd15;
  width: auto;
}

.nsrsbh-warn img,
.nsrsbh-info img {
  width: 16px;
  margin-right: 15px;
  margin-top: -4px;
}

.qrcode-inv-modal {
  width: 700px;
}

.qrcode-inv-modal .modal-body {
  height: 350px;
}

.QRcode-param-content {
  width: 50%;
  display: inline-block;
  margin-bottom: 15px;
  margin-top: 25px;
}

.QRcode-param-content .QRcode-param-item {
  margin-bottom: 20px;
}

.QRcode-param-content .QRcode-param-item .span-label {
  float: left;
  width: 34%;
  line-height: 28px;
  text-align: right;
  margin-right: 15px;
  color: #666666;
}

.QRcode-param-content .QRcode-param-item .qrcode-inv-input {
  width: 13.83rem;
  height: 28px;
  padding-left: 8px;
  font-size: 14px;
  border: 1px solid #c1c5c8;
}

.QRcode-param-content .QRcode-param-item .qrcode-inv-je-input {
  width: 11.83rem;
  height: 28px;
  padding-left: 8px;
  font-size: 14px;
  border: 1px solid #c1c5c8;
}

.QRcode-param-content .QRcode-param-item .fp-form-control-container .select2-container {
  width: 13.83rem !important;
}

.QRcode-param-content .QRcode-param-item .materialBtn {
  position: absolute;
  float: right;
  top: 5px;
  right: 6px;
  border: 0;
  background: url(./assets/icons/tax-type-default.svg) no-repeat;
  background-size: contain;
  width: 18px;
  height: 23px;
}

.QRcode-param-content .QRcode-param-item .materialBtn:hover {
  background: url(./assets/icons/tax-type-hover.svg) no-repeat;
  background-size: contain;
}

.QRcode-param-content .QRcode-param-last-item {
  margin-bottom: 60px;
}

.QRcode-param-content .QRcode-param-btns-item {
  padding-left: 35%;
}

.fp-form-group.QRcode-param-item .fp-form-control-container .select2-container--default .select2-selection--single {
  border: 1px solid #c1c5c8;
}

.QRcode-img-content {
  float: right;
  position: relative;
  width: 50%;
  height: 290px;
  margin-top: 25px;
}

.QRcode-img-content .QRcode-img-container {
  position: relative;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  border: 1px solid #cec8c8;
  margin-bottom: 15px;
}

.QRcode-img-content .QRcode-img-container .QRcode-mess-container {
  position: absolute;
  top: 80px;
  width: 100%;
}

.QRcode-img-content .QRcode-img-container .QRcode-container-span {
  display: block;
  width: 100%;
  color: #9e9e9e;
  text-align: center;
  font-size: 14px;
}

.QRcode-img-content .QRcode-img-container img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.QRcode-img-content .QRcode-img-span {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.qrcode-print-img {
  width: 700px;
}

.qrcode-inv-intro {
  position: absolute;
  width: 100%;
  top: 90px;
  text-align: center;
}

.qrcode-inv-intro .qrcode-inv-item .qrcode-inv-label {
  float: left;
  margin-left: 15%;
  width: 35%;
  text-align: justify;
  text-align-last: justify;
  font-size: 32px;
}

.qrcode-inv-intro .qrcode-inv-item .qrcode-inv-label2 {
  float: left;
  width: 50%;
  text-align: left;
  font-size: 32px;
}

.print-qrcode-container {
  position: absolute;
  width: 300px;
  top: 31%;
  left: 21%;
}


.selected input[name="params-setting"].with-gap+label:before,
.selected input[name="params-setting"].with-gap+label:after {
  border: 1px solid #00b390;
}

.selected input[name="params-setting"].with-gap+label:after {
  background-color: #00b390;
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
}


.auto-complete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  width: 100%;
  max-width: 340px;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.auto-complete .group-name {
  cursor: default;
}

.auto-complete .complete-row {
  padding: 4px 8px;
}

.auto-complete .complete-item {
  color: #ce836c;
  cursor: pointer;
}

.auto-complete .complete-item:hover {
  color: #ce836c;
  background: #ccf0ec;
}

.table-gmf-header {
  table-layout: fixed;
  width: 100%;
}

.table-gmf-header td {
  border: 0;
  color: #ce836c;
  padding: 5px 15px;
}

.table-gmf-header td.table-gmfmc {
  width: 54px;
  border-right: 1px solid #ce836c;
  padding: 0 20px;
}

.firefox .table-gmf-header td.table-gmfmc,
.isie .table-gmf-header td.table-gmfmc {
  width: 55px;
  border-right: 1px solid #ce836c;
  padding: 0 20px;
}

.table-gmf-header td .fp-purchase-content {
  border-left: 0;
}

.table-gmf-header .fp-row-line .fp-form-group {
  width: 100%;
}

#multiZkModal .lable-text {
  width: 90%;
}

#multiZkModal .groups-lable {
  width: 24%;
}

#multiZkModal .show-lable {
  display: inline-block;
  padding-left: 15px;
  width: 80%;
  line-height: 32px;
}

#multiZkModal .valid-error {
  left: 28px;
}

.specimenImg {
  display: none;
}

.showExp {
  display: inline-block;
}

/*发票明细行 商品档案tips提示不换行*/
.inputwrap .tooltip .tooltip-inner,
.fp-form-group .tooltip .tooltip-inner {
  white-space: nowrap;
}

.fp-form-control-container .gmfMc-search-empty {
  position: absolute;
  right: 26px;
  top: 2px;
  font-size: 18px;
  cursor: pointer;
  color: #00b390;
  display: inline-block;
  width: 18px;
  vertical-align: middle;
  cursor: pointer;
}

.fp-form-control-container .gmfMc-search-empty i {
  display: inline-block;
  width: 100%;
  height: 18px;
  background: url(./assets/icons/empty-default.png) no-repeat;
  background-size: cover;
}

.fp-form-control-container .gmfMc-search-empty i:hover {
  background-image: url(./assets/icons/empty-hover.png);
}

.fp-sale-content .xsfMc-search-empty {
  position: absolute;
  left: calc(75% + 98px);
  top: 2px;
  font-size: 18px;
  cursor: pointer;
  color: #00b390;
  display: inline-block;
  width: 18px;
  vertical-align: middle;
  cursor: pointer;
}

.fp-sale-content .xsfMc-search-empty i {
  display: inline-block;
  width: 100%;
  height: 18px;
  background: url(./assets/icons/empty-default.png) no-repeat;
  background-size: cover;
}

.fp-sale-content .xsfMc-search-empty i:hover {
  background-image: url(./assets/icons/empty-hover.png);
}

.fp-form-group .fp-yellow {
  color: #666666;
  background: #FFFAC2;
}

.fp-form-group .fp-yellow::before {
  border-bottom: 0.6rem solid #FFFAC2;
}




.fp-page-header span.fp-yellow {
  top: 80%;
}

span.fp-yellow {
  top: 80%;
}

.fp-unit-purchase span.fp-yellow {
  top: 80%;
}

.fp-invoice-order .fp-order-table tbody td span.fp-yellow {
  top: 80%;
}

.fp-unit-sale-and-remark .fp-remark span.fp-yellow {
  position: absolute;
  top: 80px;
}

.fp-unit-sale-and-remark.addHeight .fp-sale-content .fp-form-group .fp-yellow {
  left: 124px;
}

#multiZkModal .fp-yellow {
  left: 28px;
}


/*表单验证的样式 */
input.fp-yellow {
  color: #fd5653;
  border-color: #fd5653;
}

span.fp-yellow {
  color: #fff;
  background: rgba(233, 93, 110, 0.75);
  padding: 0 1.2rem;
  line-height: 2.167rem;
  margin-top: 10px;
  position: absolute;
  left: 0;
  z-index: 1;
  border-radius: 0.5rem;
  display: inline-block;
  font-size: 12px;
}

span.fp-yellow:before {
  content: '';
  width: 0;
  height: 0;
  border: 0.6rem solid transparent;
  border-bottom: 0.6rem solid rgba(233, 93, 110, 0.75);
  position: absolute;
  top: -1rem;
}

/* 输入框错误样式 */
input.fp-yellow-top {
  color: #fd5653;
  border-color: #fd5653;
}

.groups-text span.fp-yellow-top {
  left: 7%;
}

/* 验证错误提示样式 */
span.fp-yellow-top {
  color: #fff;
  background: rgba(233, 93, 110, 0.75);
  padding: 0 1.2rem;
  line-height: 2.167rem;
  margin-top: 10px;
  position: absolute;
  left: 0;
  bottom: 125%;
  z-index: 1;
  border-radius: 0.5rem;
  display: inline-block;
  font-size: 12px;
}

/* 验证错误提示样式 */
span.fp-yellow-top:before {
  content: '';
  width: 0;
  height: 0;
  border: 0.6rem solid transparent;
  border-top: 0.6rem solid rgba(233, 93, 110, 0.75);
  position: absolute;
  top: 100%;
}

.fp-NO-container.fp-NO-section {
  width: 350px;
}

.fp-form-group.fp-section {
  display: inline-block;
}

.fp-form-group.fp-section.fp-section-fpdm {
  width: 190px
}

.fp-form-group.fp-section.fp-section-fphm {
  width: 150px
}

.fp-NO-section .fp-form-group .select2-container .select2-selection--single {
  height: 24px;
}

.fp-unit-purchase .fp-NO-container .fp-group-label {
  width: unset;
  height: unset;
  margin-right: 10px;
}

.fp-NO-section .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 24px;
}

.fp-NO-section .fp-form-group .fp-form-control-container .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 24px;
}

.fp-NO-container .fp-section-line .fp-group-label {
  line-height: 25px;
}

.fp-unit-purchase {
  position: relative;
}

.fp-unit-purchase .fp-NO-container.fp-NO-section {
  top: 0
}

.fp-unit-purchase .fp-section .fp-group-label {
  line-height: 24px;
}

.fp-unit-purchase .fp-NO-section .fp-form-control-static {
  line-height: 24px;
}
.t-diwork .invoice-table {
  font-size: 12px !important;
}

#sysDock-uninvoice-content {
  .fp-page {
    padding-bottom: 0;
  }
  .fp-cRemark-content {
    width: 250px !important;
  }
  div[auto-const-id=hand-invoice-show-book] {
    display: none !important;
  }
}
