$color-table-row-hover: #ccf0ec;
$color-search-default: #00b390;
$color-search-hover: #008071;
$color-btn-primary: #00b390;
$color-btn-primary-hover: #00cdb5;
$color-text-button: #00b390;
$color-text-button-text: #00cdb5;
$color-txt-active: #00b390;
/* $color-search-hover: #00b390; */
$color-common-hover: #7e8c89;
$color-common-black: #505766;
$color-common-black-light: #adb4bc;
$color-select-hover: #ccf0ec;
$btn-border-color: #dddee1;

/* 分页主题颜色变量定义 */
$pagination-theme-color: #00cdb5;
