// 定义全局变量和mixin等
// webpack配置自动导入，无需在页面中手动添加，直接使用即可

$bgColor: '#E9ECF0';

@mixin clearfix {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

@mixin scrollBar {
	&::-webkit-scrollbar-track-piece {
		border-radius: 20px;
	}
	&::-webkit-scrollbar {
		width: 6px;
	}
	&::-webkit-scrollbar-thumb {
		background: #d3dce6;
		border-radius: 20px;
	}
}

@mixin relative {
	position: relative;
	width: 100%;
	height: 100%;
}

@mixin circle {
	padding: 10px;
  border-radius: 50%;
  border: 1px solid red;
}



